#output {
  overflow: auto;
  height: 500px;
  display: flex;
  justify-content: space-around;
  width: 800px;
  border: 1px solid black;
}

.output__column {
    width: 15%;
    text-align: center;
    border: 1px dotted black;
}